services:
  - type: web
    name: inventario-api
    env: node
    plan: free
    buildCommand: yarn install && yarn build && npx prisma generate
    startCommand: npx prisma migrate deploy && yarn start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGIN
        value: "*"
